@font-face {
	font-family: "preeti";
	src: url("PREETI.TTF") format("TFF");
}
.preeti {
	font-family: preeti;
}
/* underline */
.underline_animate {
	position: relative;
	padding-bottom: 4px;
	margin-bottom: 5px;
}
.underline_animate:after {
	position: absolute;
	content: "";
	bottom: -1px;
	left: 0px;
	height: 5px;
	width: 0%;
	background-color: rgb(227, 92, 92);
	animation: underline 1s ease-in-out 1s; /* remove infinite if you want only once */
	animation-fill-mode: forwards;
}
@keyframes underline {
	to {
		width: 100%;
	}
}

/* underline */
/* .box_animate {
	position: relative;
	padding-bottom: 4px;
	margin-bottom: 5px;
} */

.box_animate {
	animation: slideInFromLeft 1s ease-out 1s;
	animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
	0% {
		border: 2px solid #fff;
		border-radius: 10px;
	}
	100% {
		border: 2px solid #ccc;
		border-radius: 10px;
	}
}

/* .box_animate:after {
	position: absolute;
	content: "";
	padding: 10px;
	left: 0px;
	top: 0;
	bottom: 0;
	width: 100%;
	transition: border 2s ease; 
	transition-delay: 2s;
	border: 1px solid #ddd;
	animation-duration: 1s;
	animation-fill-mode: forwards;
} */

@keyframes boxAnimate {
	from {
		border: 1px solid rgba(227, 92, 92);
		border-radius: 10px;
	}
	to {
		border: none;
	}
}
